# Standard python ignores
__pycache__/
*.pyc
*.egg-info/
.env
.vscode/
.ipynb_checkpoints/
.DS_Store


# Directories
data/*
!data/.gitkeep
!data/news/.gitkeep
!data/wiki/.gitkeep
!data/squad/.gitkeep
results/*
!results/.gitkeep
models/*
!results/.gitkeeo
results_backup/
keys/
production_env/
notebooks/*

# Files
sync_results.sh